@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Regular font */
@font-face {
  font-family: "ABD ELRADY";
  src: url("/fonts/ABD ELRADY REGULAR.OTF") format("opentype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

/* Define the Bold font */
@font-face {
  font-family: "ABD ELRADY";
  src: url("/fonts/ABD ELRADY BOLD.OTF") format("opentype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

/* Define the Medium font */
@font-face {
  font-family: "ABD ELRADY";
  src: url("/fonts/ABD ELRADY MEDIUM.OTF") format("opentype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

/* Define the Thin font */
@font-face {
  font-family: "ABD ELRADY";
  src: url("/fonts/ABD ELRADY THIN.OTF") format("opentype");
  font-weight: 300; /* Thin weight */
  font-style: normal;
}

/* Define the Italic font */
@font-face {
  font-family: "ABD ELRADY";
  src: url("/fonts/ABDELRADY-ITALIC.OTF") format("opentype");
  font-weight: 400; /* Regular weight for italic */
  font-style: italic;
}

/* Define additional fonts (optional) */
@font-face {
  font-family: "TALASEM";
  src: url("/fonts/TALASEM V.1.0.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #222222;
  --foreground: #ededed;
}

::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar (for horizontal scrolling) */
}

::-webkit-scrollbar-track {
  background: #222222; /* Background of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: #ff5100; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #222222; /* Adds padding around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ff702d; /* Darker color on hover */
}

body {
  color: var(--foreground);
  background: #ff5100;
  font-family: "ABD ELRADY", Arial, sans-serif;
}
