@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #222222;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}
